@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

:root {
  --text-color: #f4f4f4;
  --bg-color: #012639;
  --background-image: url('../../public/bg.jpg');
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  /* color: rgb(var(--foreground-rgb)); */
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  /* background: var(--bg-color); */
  position: relative;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  text-rendering: optimizelegibility;
  font-smooth: always;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

input {
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  color: black;

}

/* Layers */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #012639;
  transition: background-color 1s ease, filter 1s ease;
  z-index: 0;
}

.background {
  background: var(--background-image);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  z-index: -1;
}

.scroll-container {
  position: relative;
  z-index: 1;
}

/* Menu Overlay Styles */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, ;
}

.menu-overlay-visible {
  height: 100vh;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, ;
  background-color: var(--bg-color);

}

/* Menu Icon Styles */

.menu-icon {
  position: fixed;
  top: 25px;
  right: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  user-select: none;
  z-index: 3;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.4s;
}

.open .bar1 {
  transform: rotate(-45deg) translate(-6px, 7px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: rotate(45deg) translate(-6px, -7px);
}

/* Scroll Button */
.scroll-button {
  position: fixed;
  left: 0px; /* Start the button off-screen to the right */
  top: 0px;
  transition: right 0.3s ease-in-out; /* Smooth transition effect */
z-index: 7;
  /* Your other button styles */
}

.scroll-button.visible {
  right: 20px; /* Bring the button on-screen when visible */
}

.scroll-button.hidden {
  right: -100px; /* Move the button off-screen to the right when hidden */
}

/* Gradiesnt Text */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.gradient-text {
  background: linear-gradient(45deg, #FFF, #48ccfc);
  background-size: 200% 200%;
  color: transparent;
  background-clip: text;
  animation: gradientAnimation 5s infinite;
}